/* Caja del chatbot */
.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 600px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  z-index: 1000; /* Asegura que el chatbot esté por encima de otros elementos */
}

/* Botón del asistente en la esquina inferior derecha */
.chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00bfa5;
  border: none;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 1.2em;
  z-index: 1001; /* Botón sobre la interfaz */
}

.chatbot-toggle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.7); /* Efecto luminoso */
}
