/* Estilos generales */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    position: relative;
}

.form-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;
}

.form-card:hover {
    transform: translateY(-10px);
}

.submit-button {
    background-color: #1877f2;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #145dbf;
}

.link-styled {
    color: #1877f2;
    transition: color 0.3s;
}

.link-styled:hover {
    color: #145dbf;
}

.logo {
    width: 150px;
    margin-bottom: 1rem;
}

.input-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Estilos de alerta */
.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.alert-user-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.dialog-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
