/* Estilo de la tabla */
.table-responsive {
  margin-top: 20px;
  background-color: #212529;
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los encabezados de la tabla */
.table-header {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

/* Estilo de las celdas de la tabla */
.table-cell {
  border: 1px solid #6c757d;
  padding: 10px;
  text-align: center;
}

/* Estilo de los botones de acción */
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilo de los botones de edición y eliminación */
.edit-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo del botón de agregar usuario */
.openModalButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.openModalButton:hover {
  transform: scale(1.1) rotateY(10deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo del formulario */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo del contenido */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.table-striped tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
