/* Estilo general para centrar todo el contenido */
.consulta-container {
    background-color: #f9fafb;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .consulta-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    width: 70%;
    padding: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #ddd;
  }
  
  .search-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button i {
    margin-left: 0.5rem;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .resultados-container {
    margin-top: 2rem;
  }
  
  .resultado-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .resultado-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .resultado-item p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .resultado-item a {
    color: #007bff;
    text-decoration: none;
  }
  
  .resultado-item a:hover {
    text-decoration: underline;
  }
  